#inputs {
    width: 50%;
    display: grid;
    margin: auto;
    justify-self: center;
}

#word {
    margin-bottom: 10%;
    border-color: tan;
    border-radius: 5px;
    border-width: 5px;
    border-style: ridge;
    background-color: cornsilk;
    padding: 10px;
}

#definition {
    margin-bottom: 5%;
    border-color: darkkhaki;
    border-radius: 5px;
    border-width: 5px;
    border-style: ridge;
    background-color: cornsilk;
}

#submit {
    float: right;
    margin-top: 5%;
    width: 25%;
    margin-left: 60%;
    border-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 5px;
    border-width: 5px;
    border-style: ridge;
    background-color: cornsilk;
}

#result {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    justify-self: center;
}

#query {
    width: 60%;
    border-color: tan;
    border-radius: 5px;
    border-width: 5px;
    border-style: ridge;
    background-color: cornsilk;
    padding: 10px;
    float: left;
}

#search {
    float: right;
    width: 25%;
    height: 100%;
    border-color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-radius: 5px;
    border-width: 5px;
    border-style: ridge;
    background-color: cornsilk
}